.test-container {
  background-color: #fafafa;
  color: #333;
  cursor: pointer;

  .test-stats {
    border-bottom: 1px solid #eee;

    .stat {
      padding: 16px;
      border-right: 1px solid #eee;
      width: 160px;
    }

    :last-child {
      border-right: none;
    }
  }

  .test-area {
    padding: 16px;
  }
}
