<div class="test-container">
  <div class="test-stats">
    <div class="d-flex">
      <div class="stat">Time: 00:{{ timeLeft }}</div>
      <div class="stat">WPM: {{ stats.wpm }}</div>
      <div class="stat">Accuracy: {{ stats.accuracy }}%</div>
    </div>
  </div>
  <div class="progress">
    <div
      class="progress-bar bg-success"
      [ngClass]="'w-' + timeProgress"
      role="progressbar"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <div class="test-area d-flex flex-wrap">
    <div
      class="test-content"
      [ngClass]="{
        gameLoaded: gameLoaded
      }"
    >
      <div class="loading-screen">
        <div class="loading-content">
          <div class="loading-text">...</div>
        </div>
      </div>
      <div class="test-text">
        <div
          *ngFor="let paragraph of activeStory.paragraphs; let i = index"
          class="paragraph d-flex flex-wrap"
          [ngClass]="{
            isClosed: paragraph.isClosed
          }"
        >
          <div
            *ngFor="let word of paragraph.words; let j = index"
            class="word d-flex"
          >
            <div
              *ngFor="let character of word.characters; let k = index"
              class="character"
              [ngClass]="{
                cursor:
                  i === activeStory.paragraphCursor &&
                  j === activeStory.wordCursor &&
                  k === activeStory.characterCursor,
                incorrect: character.state === 'incorrect',
                correct: character.state === 'correct',
                pristine: character.state === 'pristine'
              }"
              [innerHTML]="character.display"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<!-- GAME LOADED: {{ gameLoaded }} <br />
Paragraph: {{ activeStory.paragraphCursor }} Word:
{{ activeStory.wordCursor }} Character:
{{ activeStory.characterCursor }} LastKey: {{ lastKey }}<br />
Incorrect: {{ stats.incorrect }}<br />
Correct: {{ stats.correct }}<br />
Time elapsed: {{ stats.timeElapsed }}<br /> -->
