<div class="test-container">
  <div class="test-stats">
    <div class="d-flex">
      <div class="stat">
        Time: 00:00
      </div>
      <div class="stat">
        WPM: 0
      </div>
      <div class="stat">
        Accuracy: 100%
      </div>
    </div>
  </div>
  <div class="test-area">
    <span>
      <span class="cursor">A</span>
      <span>
        Hare was making fun of the Tortoise one day for being so slow.
        <br />
        <br />
        "Do you ever get anywhere?" he asked with a mocking laugh.
        <br />
        <br />
        "Yes," replied the Tortoise, "and I get there sooner than you think.
        I'll run you a race and prove it."
        <br />
        <br />
        The Hare was much amused at the idea of running a race with the
        Tortoise, but for the fun of the thing he agreed. So the Fox, who had
        consented to act as judge, marked the distance and started the runners
        off.
      </span>
    </span>
  </div>
</div>
<br />
LastKey: {{ lastKey }}<br />
Active: {{ active }}
