<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/typing-test">Typing Test</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Login</a>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Brian Jeon</h1>
      <p class="lead">Welcome to my website. Have fun!</p>
    </div>
  </div>
<router-outlet></router-outlet>
